# fly.toml app configuration file generated for tuning-movie on 2026-02-05T16:34:57-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tuning-movie'
primary_region = 'iad'

[build]

[env]
  NODE_ENV = 'production'
  PORT = '3000'

[mounts]
  source = 'tuning_movie_data'
  destination = '/app/apps/backend/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '300s'
    method = 'GET'
    path = '/health'

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
